* {
    -fx-font-family: "PT Sans";
}

.font-12 {
    -fx-font-size: 12;
}

.font-14 {
    -fx-font-size: 14;
}

.font-16 {
    -fx-font-size: 16;
}

.font-26 {
    -fx-font-size: 26;
}

.font-16 {
    -fx-font-size: 16;
}

.font-40 {
    -fx-font-size: 40;
}

.font-50 {
    -fx-font-size: 50;
}

.font-bold {
    -fx-font-weight: bold;
}


.background-color {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(217,147,42,1) 0%, rgba(111,22,223,1) 100%);
}

.white-text-fill {
    -fx-text-fill: white;
}

.purple-text-fill {
    -fx-text-fill: #683BA0;
}

.button-radius-5, .background-radius-5 {
    -fx-background-radius: 5px;
}

.white-button {
    -fx-background-color: white;
}

.purple-button {
    -fx-background-color: #683BA0;
    -fx-cursor: hand;
}

.white-background {
    -fx-background-color: white;
}

.orange-button {
    -fx-background-color: #D9932A;
}

.voice-speed-slider .thumb {
    -fx-background-color: #D9932A;
}

.voice-speed-slider .track {
    -fx-background-color: white;
    -fx-pref-height: 1px;
}