.background-color {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(217,147,42,1) 0%, rgba(111,22,223,1) 100%);
}

.white-text-fill {
    -fx-text-fill: white;
}

.purple-text-fill {
    -fx-text-fill: #683BA0;
}

.button-radius-5, .background-radius-5 {
    -fx-background-radius: 5px;
}

.white-button {
    -fx-background-color: white;
}

.purple-button {
    -fx-background-color: #683BA0;
    -fx-cursor: hand;
}

.white-background {
    -fx-background-color: white;
}

.orange-button {
    -fx-background-color: #D9932A;
}

.slider .thumb {
    -fx-background-color: #D9932A;
}

.slider .track {
    -fx-background-color: white;
    -fx-pref-height: 1px;
}